<form action="/add_income" method="POST" onsubmit="return check(this)">
Add income:
<p>
Date: <input type="date" name="record_date" required> 
<p>
Title: <input type="text" name="title" required>
<p>
<label for="record_class">Class:</label>
<select type="record_class" name="record_class" required>
    {% for record_class in classes %}
        <option value="{{ record_class[0] }}">{{ record_class[1] }}</option>
        {% endfor %}
</select>
<p>
Customer: <input type="text" name="customer" required>
<p>
Amount (h): <input type="number" name="amount" step=0.05 required>
<p>
Price (€/h): <input type="number" name="price" step=0.01 required>
<p>
The following is prefilled based on your favorites. Change if needed.
<p>
IBAN: <input type="text" name="iban" value="{{iban}}" required>
<p>
Payment term (days): <input type="number" name="payment_term" value={{payment_term}} required>
<p>
email: <input type="text" name="email" value="{{email}}" required>
<p>
mobile number: <input type="text" name="mobile_nr" value="{{mobile_nr}}" required>
<p>
post address: <input type="text" name="post_address" value="{{post_address}}" required>
<p>
<input type="submit" value="Save income record">
<button type="button" onclick="window.location.href='/'">Cancel</button>
<input type="hidden" name="user_id" value="{{ session.user_id }}">
</form>

<script>
    function check(form) {
        if (form.title.value.length > 100) {
            alert("Title is too long");
            return false;
        }
        if (form.customer.value.length > 100) {
            alert("Customer name is too long");
            return false;
        }
        if (parseFloat(form.amount.value) > 1000) {
            alert("Amount (h) is too high");
            return false;
        }
        if (parseFloat(form.price.value) > 200000) {
            alert("Price is too high");
            return false;
        }
        if (form.iban.value.length > 34) {
            alert("IBAN is too long");
            return false;
        }
        if (parseFloat(form.payment_term.value) > 300) {
            alert("Payment term should be less than 300 days");
            return false;
        }
        if (form.email.value.length > 320) {
            alert("Email is too long");
            return false;
        }
        if (form.mobile_nr.value.length > 15) {
            alert("Mobile number is too long");
            return false;
        }
        if (form.post_address.value.length > 100) {
            alert("Post address is too long");
            return false;
        }
        return true;
    }
    </script>