<form action="/add_expense" method="POST" onsubmit="return check(this)">
Add expense:
<p>
Date: <input type="date" name="record_date" required> 
<p>
Title: <input type="text" name="title" required>
<p>
<label for="record_class">Class:</label>
<select type="record_class" name="record_class" required>
{% for record_class in classes %}
    <option value="{{ record_class[0] }}">{{ record_class[1] }}</option>
    {% endfor %}
</select>
<p>
Price (€): <input type="number" name="price" step=0.01 required>
<p>
<input type="submit" value="Save expense">
<button type="button" onclick="window.location.href='/'">Cancel</button>
<input type="hidden" name="user_id" value="{{ session.user_id }}">
</form>

<script>
    function check(form) {
        if (form.title.value.length > 100) {
            alert("Title is too long");
            return false;
        }
        if (parseFloat(form.price.value) > 200000) {
            alert("Price is too high");
            return false;
        }
        return true;
    }
    </script>