<table> 
    <thead> 
    <tr> 
        <th>Date</th> 
        <th>Title</th>
        <th>Type</th>
        <th>Class</th> 
        <th>Taxfree sum</th> 
        <th>VAT %</th> 
        <th>VAT €</th> 
        <th>Total</th>  
    </tr> 
    </thead> 
    <tbody> 
        {% for row in value %}  
            <tr> 
                <td>{{row[0]}}</td> 
                {% if row[2] == None %}
                <td>{{ row[1] }}</td>
                {% else %}
                <td>{{ row[1] }}, invoice {{ row[2] }}</td>
                {% endif %}
                <td>{{row[3]}}</td> 
                <td>{{row[4]}}</td> 
                <td>{{row[5]|round(2)}}</td> 
                <td>{{row[6]}}%</td> 
                <td>{{row[7]|round(2)}}</td> 
                <td>{{ (row[7] + row[5])|round(2) }}</td>
            </tr> 
        {% endfor %} 
    </tbody> 
</table> 