<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="frame_records">
  <img src="/static/logo.jpg" alt="logo">
  <div class="info">
    <button type="button" onclick="window.location.href='/'">Return home</button>
    <button type="button" onclick="window.location.href='/add_expense'">Add expense</button>
    <button type="button" onclick="window.location.href='/add_income'">Add income</button>
  </div>
  <div>
    <input id="RecordInput" onkeyup="searchTable()" type="text" placeholder="Type here to filter records">
    <table id="RecordTable"> 
      <thead> 
        <tr> 
        <th>Date</th> 
        <th>Title</th>
        <th>Type</th>
        <th>Class</th> 
        <th>Total € wo. VAT</th> 
        <th>VAT %</th> 
        <th>VAT €</th> 
        <th>Total €</th>
        <th>Invoice</th>
        <th>Edit</th>
        <th>Remove</th>
        </tr> 
      </thead> 
      <tbody> 
        {% for row in value %}  
          <tr> 
            <td>{{row[0]}}</td> 
            {% if row[2] == None %}
              <td>{{ row[1] }}</td>
              <td>Expense</td>
            {% else %}
              <td>{{ row[1] }}, invoice {{ row[2] }}</td>
              <td>Income</td>
            {% endif %}
            <td>{{row[4]}}</td> 
            <td>{{row[5]|round(2)}}</td> 
            <td>{{row[6]}}%</td> 
            <td>{{row[7]|round(2)}}</td> 
            <td>{{ (row[7] + row[5])|round(2) }}</td>
            {% if row[2] != None %}
              <td><nav_record><a target="_blank" rel="noopener" href="/invoice/{{ row[2] }}">View invoice</a></nav_record></td>
              <td><nav_record><a href="/update_income/{{row[8]}}">Edit</a></nav_record></td>
            {%else%}
              <td></td>
              <td><nav_record><a href="/update_expense/{{row[8]}}">Edit</a></nav_record></td>
            {% endif %}
              <td><nav_record><a href="/remove_record/{{row[8]}}">Remove</a></nav_record></td>
          </tr> 
        {% endfor %} 
      </tbody> 
    </table> 
  </div>
</div>

<script>
  function searchTable() {
      var input, filter, found, table, tr, td, i, j;
      input = document.getElementById("RecordInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("RecordTable");
      tr = table.getElementsByTagName("tr");
      for (i = 1; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td");
          for (j = 0; j < td.length; j++) {
              if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                  found = true;
              }
          }
          if (found) {
              tr[i].style.display = ""; //show row
              found = false;
          } else {
              tr[i].style.display = "none"; //hide row
          }
      }
  }
  </script>