<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<form action="/register" method="POST" onsubmit="return check(this)">
<div class="frame">
  <img src="/static/logo.jpg" alt="logo">
  <div class="info"><h2>Register</h2></div>
  <div>
    <div class=row><label>Username:</label><input type="text" name="username" required></div>
    <div class=row><label>Password:</label><input type="password" name="password1" required></div>
    <div class=row><label>Repeat password:</label><input type="password" name="password2" required></div>
    <div class=row><label>Business name:</label><input type="text" name="business_name" required></div>
    <div class=row><label>Business id:</label><input type="text" name="business_id" required></div>
  </div>
  <div class="footer">
    <input type="submit" value="Register">
    <button type="button" onclick="window.location.href='/'">Cancel</button>
  </div>
</div>
</form>

<script>
  function check(form) {

    var businessIdPattern = /^\d{7}-\d$/;

    if (form.business_id.value.length != 9 || !businessIdPattern.test(form.business_id.value)) {
        alert("Business id should consist of 7 digits, a hyphen (-), and a check digit.");
        return false;
     }

    var factor = [7, 9, 10, 5, 8, 4, 2];
    var checkSum = 0;

    // Calculate the check sum using factors
    for (var i = 0; i < 7; i++) {
      checkSum += parseInt(form.business_id.value[i]) * factor[i];
    }

    var checkReminder = checkSum % 11;
    var checkDigit = (checkReminder === 0) ? 0 : (checkReminder === 1) ? -1 : 11 - checkReminder;

    if (parseInt(form.business_id.value[8]) !== checkDigit) {
        alert("Business id is not valid. Business id should consist of 7 digits, a hyphen (-), and a check digit.");
        return false;
    }
    if (form.business_name.value.length > 100) {
        alert("Business name is too long");
        return false;
    }
    if (form.username.value.length > 100) {
        alert("Username is too long");
        return false;
    }
    if (form.password1.value != form.password2.value) {
        alert("Passwords don't match");
        return false;
    }
    if (form.password1.value.length > 100) {
        alert("Password is too long");
        return false;
    }
    return true;
  }
</script>