<!DOCTYPE html>
<link rel="stylesheet" href="/static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<form action="/update_account_data" method="POST" onsubmit="return check(this)">
<div class="frame">
  <img src="/static/logo.jpg" alt="logo">
  <div class="info">
    <h2>Update account data for {{ session.username }}</h2>
  </div>
  <div>
    <p class="p_home">Note that updates will change your history records. 
        If you are starting a new business, please create a new user account instead.</p> 
    <div class=row><label>Business name:</label><input type="text" name="business_name" value={{a.business_name}} required></div>
    <div class=row><label>Business id:</label><input type="text" name="business_id" value={{a.business_id}} required></div>
  </div>
  <div class="footer">
    <input type="submit" value="Save account data">
    <button type="button" onclick="window.location.href='/'">Cancel</button>
    <input type="hidden" name="user_id" value="{{ session.user_id }}">
    </form>
  </div>
</div>

<script>
    function check(form) {
        if (form.business_id.value.length > 100) {
            alert("Business id is too long");
            return false;
        }
        if (form.business_name.value.length > 100) {
            alert("Business nameis too long");
            return false;
        }
        return true;
    }
    </script>